* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    overflow-y: hidden;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #000;
}

textarea {
    width: 430px;
    height: 350px;
    background-color: #1d1e22;
    border: 2px solid black;
    font-size: 1.2rem;
    color: white;
    padding: 10px 5px;
    outline: none;
}

header {
    color: white;
    font-size: 2rem;
}

iframe {
    width: 1350px;
    height: 200px;
    background-color: #fff;
    color: white !important;
}

.main-wrapper .user-code {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/*.user-output {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/
